<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstsemdcomsolutions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstSemDCOMSolutions">
        <activity
            android:name=".info"
            android:parentActivityName=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".chemistry"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".physics2"
            android:exported="true"
            android:parentActivityName=".physicsentry" />
        <activity
            android:name=".physicsentry"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Physics3"
            android:exported="true"
            android:parentActivityName=".physicsentry" />
        <activity
            android:name=".physics1"
            android:exported="true"
            android:parentActivityName=".physicsentry" />
        <activity
            android:name=".physics"
            android:exported="true"
            android:parentActivityName=".physicsentry" />
        <activity
            android:name=".nepali"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".english"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mathematics"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".computerfundamentals"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".engineeringdrawing"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CProgramming"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>